* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
nav {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 25vw;
    background-color: #ffe4c4;
    z-index: 9999;
}
.navLogo{
    position: absolute;
    top: 0.70vh;
    left: 2vw; 
    
}
.navList {
    
    position: relative;
    top: 0;
    list-style-type:none;
    padding-left: 5vw;
    display: inline;
}
.menuItem a {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: blueviolet;
}
.menuItem a:hover {
    color: #00bfff;
    font-weight: bold;
}
.menuItem {
    
    border: 0.10vw solid #000000;
    display: inline;
    
    margin: 0.25vw;
    
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 0.25vw;
    padding-left: 0.25vw;
    transition: border 2ms; 
}
.menuItem :hover {
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    padding-right: 0.75vw;
    padding-left: 0.75vw;
    background-color: #ffbf00;
    border: 0.2vw dotted #000045;
}

/* End of css for navbar start of css for home */

.Home{
    position: relative;
    top: 10vh;
    left: 5vw;
    width: 90%;
    background-color: aqua;
}
.Home em{
    font-family: 'Times New Roman', Times, serif;
    font-size: 7vw;
    padding-left: 6vw;
}
.Home article{
    padding-left: 0.75vw;
    padding-top: 1vh;

}
.a1{
    font-family: 'Bungee Shade', cursive,sans-serif;
    font-size: 5vw;
    font-weight: 100;
}
.a2{
    font-family: 'Sancreek', cursive,sans-serif;
    font-size: 4vw;
    padding-left: 5vw;
}
.a3{
    font-family:Helvetica, sans-serif;
    font-size: 4vw;
    padding-left: 15vw; 
}
.aMain{
    font-family: 'Bangers',cursive,Times;
    font-size: 10vw;
    padding-left: 3vw;
}
.homePic{
    position: absolute;
    
    right: 0.5vw; 
    top:0vh; 
}

/* End of Home section */
/* Start of About Section */

.Abtme{
    position: relative;
    top: 10vh;
    background-color: aliceblue;
}
.Abtme p{
    padding-top: 6vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    width: 60%; 
    align-content: stretch;
}
.Abtme img{
    position: absolute;
    left: 60vw; 
    top: 10vh; 
}
.Abtme button{
    position: absolute; 
    left: 25vw;
    
    width: 15vw; 
    height: 10vh; 
    background-color: #4caf50;
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    border-radius: 4vw;
    
    transition: width 0.8s; 
    
}
.Abtme button a{
    text-decoration: none;
    color:beige; 
}
.Abtme button:hover{
    width: 18vw; 
    background-color: #4cff50; 
    border-radius: 3vw;
}
.Abtme button a:hover{
    color:#000045; 
}
/* End of About Me section */
/* Start of My Projects section */

.myProj{
    position: relative;
    top: 50vh; 
}
.myProj h2{
    text-align: center;
    font-size: 4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.r1{
    position: relative; 
    top: 10vh; 
    left: 0vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textUnder p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    text-align: center;

}
.textUnder button{
    margin-left: 37.5%; 
    top: 0vh; 
    background-color: #008cba;
    width: 8vw;
    height: 4vw;
    border-radius: 2vw;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw
}
.textUnder button:active{
    background-color: #4caf50;
    content: 'Visited';
}

.r2{
    position: relative; 
    top: 15vh; 
    left: 0vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#cell{
    background-color: rgb(239,182,217);
    border-radius: 1vw;
}

#cell:hover{
    background-color: #00bfff;
}
/* End of My projects */